*{
  padding:  0;
  margin: 0;
  }
  html{
    height: 100%;
  }
  body{
  height: 100%;
  background-image: url("../images/Hintergrund3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  }

table {
  color: white;
}

img {
float: right;
border: 1px solid #001aff;
padding: 0.5%;
margin: -10% 0 -10 -50%;
}

.picture {
  width: 10%;
  height: auto;
  float: left;
}

.startseite2 {
  margin-bottom: 150px;
}

.Youtube {
  float: right;
  border: 1px solid #ff0000;
  padding: 0.5%;
  margin: -10% 0 0 -50%;
}

#container {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0%;
}

#container tr {
  width: auto;
  height: auto;
}
#container table {
    height: auto;
    width: 100%;
}
#container td {
  width: auto;
  height: auto;
}

#menu ul{
  list-style-type: none;
  margin-top: 1%;
  padding-left:1%;
  overflow: hidden;
  background-color: #333;
}

#menu li a {
  display: flex;
  float: left;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

#menu li a:hover {
  background-color: #a52fff;
}


#head {
height:auto;
background-color:#2c2c2c;
position: fixed;
width: 84.25%;
}



.spacing{
  height: 25vh;
}

#head h1 {
text-align: left;
margin-left: inherit;
padding:20px 0 0 20px;
font-size:1.8em;
letter-spacing:.1em;
color:#ffffff;
font-weight:lighter;
}

#head h2 {
text-align: left;
margin-left: inherit;
padding:0 0 0 20px;
font-size:.9em;
font-weight:lighter;
letter-spacing:.1em;
color:#eeeeee;
}

#content {
padding: 3% 5% 3% 5%;
background-color:#2c2c2c;
line-height: 1.8em;
}
#content mark {
  background-color: #FF512F;
}
#content em, span {
  color: #4e41ff;
  font-style: italic;
}
#content p {
padding:10px;
color: white;
}

#content h2 {
margin:0;
padding:10px 0 5px 0;
font-size:1.3em;
letter-spacing:.1em;
color: white;
font-weight: lighter;
}

#content h3 {
margin:0;
padding:10px 0 5px 0;
font-size:1em;
letter-spacing:.1em;
color: white;
font-weight: lighter;
}

#footer {
position:relative;
bottom:0;
color: white;
margin:1% 0 0 0;
padding:0.095%;
height:1%;
font-size:0.9em;
text-align:center;
font-weight: lighter;
background-color:#333;
border-bottom: 1px solid #FFFFFF;
}
